absl-py==2.3.0
actionlib==1.14.0
aiofiles==24.1.0
aiosqlite==0.18.0
angles==1.9.13
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arm_pytorch_utilities==0.4.3
arrow==1.2.3
asciitree==0.3.3
astropy==6.1.7
astropy-iers-data==0.2025.6.16.0.38.47
asttokens==3.0.0
attrs==25.3.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.13.4
black==24.10.0
bleach==6.0.0
bondpy==1.8.6
cached-property==1.5.2
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
catkin-pkg==1.0.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
chex==0.1.88
click==8.2.1
cloudpickle==3.1.1
Collimator==0.1.2
colorama==0.4.6
comm==0.1.2
contextlib2==21.6.0
contourpy==1.3.2
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
cycler==0.12.1
Cython==0.29.36
d4rl==1.1
debugpy==1.6.6
decorator==5.2.1
defusedxml==0.7.1
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distrax==0.1.5
distro==1.9.0
dm-env==1.6
dm-tree==0.1.9
dm_control @ git+https://github.com/google-deepmind/dm_control.git@9a220fc061bdd180eaf318b02b2b27afeeebbab1
docker-pycreds==0.4.0
docutils==0.21.2
drone-wrapper==1.4.2
dynamic-reconfigure==1.7.3
dynamixel_sdk==3.7.51
editdistance==0.8.1
etils==1.12.2
exceptiongroup==1.3.0
executing==2.2.0
Farama-Notifications==0.0.4
fasteners==0.19
fastjsonschema==2.16.3
filelock==3.18.0
flax==0.8.5
fonttools==4.58.4
fqdn==1.5.1
fsspec==2025.5.1
gast==0.5.3
gazebo_model_attachment_plugin==1.0.2
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gazebo_video_monitor_utils==0.7.1
gdown==5.2.0
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gitdb==4.0.12
GitPython==3.1.44
glfw==2.9.0
gym==0.24.1
gym-notices==0.0.8
gymnasium==1.1.1
h11==0.16.0
h5py==3.14.0
humanize==4.11.0
icecream==2.1.3
idna==3.10
ikpy==3.4.2
image-geometry==1.16.2
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib-metadata==6.0.0
importlib_resources==6.5.2
INDIpy==0.4.0
interactive-markers==1.12.0
ipykernel==6.21.2
ipython==8.37.0
ipython-genutils==0.2.0
isoduration==20.11.0
jax==0.6.2
jax-cuda12-pjrt==0.4.30
jax-cuda12-plugin==0.4.30
jaxlib==0.6.2
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-vim==0.15.1
jupyterlab_server==2.19.0
kiwisolver==1.4.8
labmaze==1.0.6
laser_geometry==1.6.7
llvmlite==0.43.0
lxml==5.4.0
markdown-it-py==2.1.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mavros==1.18.0
mdurl==0.1.2
mediapy==1.2.4
message-filters==1.16.0
mistune==2.0.5
ml_collections==0.1.1
ml_dtypes==0.5.1
moveit-commander==1.1.13
moveit-core==1.1.13
moveit-python==0.4.5
moveit-ros-planning-interface==1.1.13
moveit-ros-visualization==1.1.13
moveit-task-constructor-core==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.4
mujoco==3.3.3
mujoco-py==2.1.2.14
mujoco-python-viewer==0.1.4
mypy-extensions==1.0.0
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.4.2
notebook==6.5.2
notebook_shim==0.2.2
numba==0.60.0
numcodecs==0.13.1
numpy==2.2.6
numpy-quaternion==2024.0.8
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvcc-cu12==12.6.85
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
omegaconf==2.3.0
open_manipulator_python==0.0.0
opt_einsum==3.4.0
optax==0.2.4
orbax==0.1.1
orbax-checkpoint==0.6.4
packaging==25.0
pandas==2.3.0
pandocfilters==1.5.0
parso==0.8.4
pathspec==0.12.1
pathtools==0.1.2
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.2.1
pkgutil_resolve_name==1.3.10
platformdirs==4.3.8
-e git+https://github.com/shonosukehida/PLDM_franka_emika_panda.git@a83b740274a438f7e37884ea0c72e0fd6956a92a#egg=pldm
pr2_power_board==1.1.10
proglog==0.1.10
prometheus-client==0.16.0
prompt_toolkit==3.0.51
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-trees==0.7.6
pybullet==3.2.7
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyerfa==2.0.1.5
Pygments==2.19.1
PyOpenGL==3.1.9
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-qt-binding==0.4.4
pytorch-seed==0.2.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==25.0.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
requests==2.32.4
resource_retriever==1.12.7
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.1
rosbag==1.16.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospkg==1.6.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rqt-console==0.4.12
rqt-controller-manager==0.20.0
rqt-drone-teleop==1.4.2
rqt-ez-publisher==0.6.1
rqt-ground-robot-teleop==1.4.2
rqt-image-view==0.4.17
rqt-joint-trajectory-controller==0.21.2
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-multiplot==0.0.12
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-tf-tree==0.6.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.9
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_pr2_dashboard==0.4.0
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_py_trees==0.4.1
rqt_robot_steering==0.5.12
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rviz==1.14.23
scipy==1.15.3
Send2Trash==1.8.0
sensor-msgs==1.13.1
sentry-sdk==2.30.0
setproctitle==1.3.6
six==1.17.0
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
smmap==5.0.2
sniffio==1.3.0
soupsieve==2.7
srdfdom==0.6.4
stack-data==0.6.3
statsmodels==0.14.4
sympy==1.14.0
tensorflow-probability==0.19.0
tensorstore==0.1.69
termcolor==3.1.0
terminado==0.17.1
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
tinycss2==1.2.1
tomli==2.0.1
toolz==0.12.0
topic-tools==1.16.0
torch==2.7.1
torchvision==0.22.1
tornado==6.2
tqdm==4.67.1
traitlets==5.14.3
triton==3.3.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
unique_id==1.0.6
urdfdom-py==0.4.6
uri-template==1.2.0
urllib3==2.4.0
uvicorn==0.34.3
uvloop==0.21.0
wandb==0.20.1
wcwidth==0.2.13
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
wrapt==1.17.2
xacro==1.14.18
y-py==0.5.9
ypy-websocket==0.8.2
zarr==2.18.3
zipp==3.23.0
