nvidia-cuda-nvrtc-cu12==12.4.127
mpmath==1.3.0
nvidia-cudnn-cu12==9.1.0.70
prompt_toolkit==3.0.50
platformdirs==4.3.6
ipython==9.0.2
setproctitle==1.3.5
sentry-sdk==2.22.0
pldm==1.0.0
wcwidth==0.2.13
imageio==2.37.0
smmap==5.0.2
charset-normalizer==3.4.1
etils==1.12.2
GitPython==3.1.44
networkx==3.4.2
labmaze==1.0.6
pure_eval==0.2.3
idna==3.10
ipython_pygments_lexers==1.1.1
Deprecated==1.2.18
click==8.1.8
pybullet==3.2.7
parso==0.8.4
pydantic==2.10.6
decorator==5.2.1
gym-notices==0.0.8
Cython==3.0.12
six==1.17.0
arm_pytorch_utilities==0.4.3
lxml==5.3.1
pycparser==2.22
asttokens==3.0.0
nvidia-cublas-cu12==12.4.5.8
gym==0.24.1
wandb==0.19.8
termcolor==2.5.0
scipy==1.15.2
traitlets==5.14.3
pexpect==4.9.0
Pygments==2.19.1
wrapt==1.17.2
editdistance==0.8.1
numpy==2.2.3
absl-py==2.1.0
MarkupSafe==3.0.2
pytz==2025.1
mujoco==3.3.0
python-dateutil==2.9.0.post0
numcodecs==0.15.1
packaging==24.2
matplotlib==3.10.1
fonttools==4.56.0
cffi==1.17.1
certifi==2025.1.31
stack-data==0.6.3
pandas==2.2.3
d4rl==1.1
soupsieve==2.6
jedi==0.19.2
fsspec==2025.3.0
gymnasium==1.1.1
typing_extensions==4.12.2
patsy==1.0.1
donfig==0.8.1.post1
executing==2.2.0
nvidia-cuda-runtime-cu12==12.4.127
kiwisolver==1.4.8
nvidia-cufft-cu12==11.2.1.3
triton==3.2.0
psutil==7.0.0
attrs==25.2.0
gitdb==4.0.12
h5py==3.13.0
antlr4-python3-runtime==4.9.3
nvidia-cuda-cupti-cu12==12.4.127
crc32c==2.7.1
filelock==3.17.0
Farama-Notifications==0.0.4
nvidia-nvjitlink-cu12==12.4.127
sympy==1.13.1
requests==2.32.3
ptyprocess==0.7.0
pillow==11.1.0
torchvision==0.21.0
omegaconf==2.3.0
beautifulsoup4==4.13.3
torch==2.6.0
docker-pycreds==0.4.0
dm-env==1.6
setuptools==76.0.0
pytorch-seed==0.2.0
PySocks==1.7.1
Jinja2==3.1.6
statsmodels==0.14.4
importlib_resources==6.5.2
pydantic_core==2.27.2
mujoco-py==2.1.2.14
PyOpenGL==3.1.9
nvidia-cusparselt-cu12==0.6.2
nvidia-cusparse-cu12==12.3.1.170
contourpy==1.3.1
zipp==3.21.0
matplotlib-inline==0.1.7
gdown==5.2.0
protobuf==5.29.3
dm-tree==0.1.9
annotated-types==0.7.0
tqdm==4.67.1
urllib3==2.3.0
tzdata==2025.1
nvidia-curand-cu12==10.3.5.147
cycler==0.12.1
dm_control==1.0.28
fasteners==0.19
PyYAML==6.0.2
nvidia-nccl-cu12==2.21.5
zarr==3.0.5
cloudpickle==3.1.1
nvidia-nvtx-cu12==12.4.127
nvidia-cusolver-cu12==11.6.1.9
glfw==2.8.0
pyparsing==3.2.1
